@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Lora:wght@400;500;600&family=Varela&family=Varela+Round&display=swap');

a{
  color:black !important;
}


.brand-logo{
  font-family: 'Grand Hotel', cursive;
}


.mycard{
  margin-top:7%;;
  
}

.auth-card{
  padding:20px;
  text-align:center;
  max-width:400px;
  border:none;
  margin:10px auto;
}

.heading1{
  font-family:'Grand Hotel', cursive; 
}